html,
body,
#root {
	height: 100%;
}

body {
	background-color: rgba(0, 0, 0, 0);
}

#outer {
	font-family: Arial;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	text-align:center;
	background: #3AAFA9;
	color: #ffffff;
}

#inner {
	padding-top: 130px;
	font-size:0px;
}

#degree {
	font-size:130px;
}

#temperature_system {
	font-size:130px;
}
